.customEditor {
  :global(.ql-container) {
    border-color: transparent;
  }
  :global(.ql-editor) {
    padding: 8px 8px 4px 8px;

    font-size: 16px;
  }
}

.asTextarea {
  :global(.ql-editor) {
    min-height: 127px;
  }
}

.customToolbar {
  :global(.ql-toolbar) {
    position: absolute;
    bottom: 0;
    z-index: 10;

    background-color: white;

    transform: translateY(calc(100% + 8px));
  }
}

.hiddenToolbar {
  :global(.ql-toolbar) {
    display: none;
  }
}

/* .showToolbar {
  :global(.ql-toolbar) {
  }
} */
